@media (max-width: 600px) and (orientation: portrait) {
  .wrap {
    width: 96%;
    height: 98vh;
    padding-top: 10vh;
  }

  .f-form {
    flex-direction: column;
  }

  .f-input {
    margin: 0;
  }

  .result {
    width: 96%;
  }

  .city {
    margin: 0 auto 5px;
    font-size: 28px;
  }

  .values,
  .sun {
    flex-wrap: wrap;
  }

  .t-w-p,
  .sunrise,
  .sunset {
    width: 40%;
    font-size: 19px;
    padding: 5px;
  }

  .t-w-p {
    width: 130px;
    height: 100px;
    margin: 10px;
  }

  .sun {
    margin-top: 5px;
    padding: 5px;
  }

  .t-w-p i,
  .sun i {
    font-size: 30px;
  }
}

@media (max-width: 333px) and (orientation: portrait) {
  .wrap {
    padding-top: 6vh;
  }

  .t-w-p {
    width: 110px;
    height: 90px;
  }

  .t-w-p,
  .sunrise,
  .sunset {
    font-size: 17px;
    padding: 5px;
    margin: 5px;
  }

  .t-w-p i,
  .sun i {
    font-size: 20px;
  }
}

@media (max-width: 1020px) and (orientation: landscape) {
  .wrap {
    width: 97%;
    height: 96vh;
    padding-top: 7vh;
  }

  .f-input {
    margin: 10px auto;
    font-size: 18px;
  }

  .result {
    width: 96%;
    padding: 5px 10px 10px;
  }

  .city {
    margin: 5px auto 0;
    font-size: 20px;
  }

  .t-w-p,
  .sunrise,
  .sunset {
    font-size: 17px;
    padding: 7px;
    margin: 15px;
  }

  .t-w-p {
    width: 140px;
    height: 90px;
  }

  .sun {
    margin-top: 5px;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .t-w-p,
  .sunrise,
  .sunset {
    font-size: 15px;
    padding: 5px;
    margin: 15px;
  }

  .t-w-p i,
  .sunrise i,
  .sunset i {
    font-size: 20px;
  }

  .t-w-p {
    width: 120px;
    height: 70px;
  }
}
